@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="header">
                <h4 class="title">Dashboard</h4>
                <p class="category"></p>
            </div>
            <div class="content">

            </div>
        </div>
    </div>
</div>

