@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";

}
<div class="jumbotron">
    <h2>leEvent</h2>
    <p class="lead">The electronic music event platform</p>
    <p><a href="http://leevent.azurewebsites.net/" class="btn btn-primary btn-lg">leEvent &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Festival & Playground</h3>
        <p>
            The renowned extensive music, gear, art, film, talks & pop-up program turns Mauritius
            into the clubbing capital of the world, covering all things related to electronic music culture.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Conference</h3>
        <p>
            With its global attendance and multiple program streams,
            leEvent’s platform connects the worldwide music industry,
            offering the ultimate annual business and inspiration hub in the field of electronic music.
        </p>
    </div>
</div>
<div class="row">
</div>