@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";

}
<div class="jumbotron">
    <h2>leEvent</h2>
    <p class="lead">The electronic music event platform</p>
    <p><a href="http://leevent.azurewebsites.net/" class="btn btn-primary btn-lg">leEvent &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Festival & Playground</h3>
        <p>
            The renowned extensive music, gear, art, film, talks & pop-up program turns Mauritius
            into the clubbing capital of the world, covering all things related to electronic music culture.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Conference</h3>
        <p>
            With its global attendance and multiple program streams,
            leEvent’s platform connects the worldwide music industry,
            offering the ultimate annual business and inspiration hub in the field of electronic music.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="page-header">
            <h1>Share Dialog</h1>
        </div>

        <p>Click the button below to trigger a Share Dialog</p>

        <div id="shareBtn" class="btn btn-success clearfix">Share</div>

        <p style="margin-top: 50px">
            <hr/>
            <a class="btn btn-small" href="https://developers.facebook.com/docs/sharing/reference/share-dialog">Share Dialog Documentation</a>
        </p>
    </div>
</div>

@section scripts{
    <script>

        //$.ajaxSetup({ cache: true });
        //$.getScript('//connect.facebook.net/en_US/sdk.js', function () {
        //    FB.init({
        //        //appId: '184484190795',
        //        version: 'v2.6', // or v2.0, v2.1, v2.2, v2.3

        //        appId: '870614503083022',
        //frictionlessRequests: true,
        //init: true,
        //level: "debug",
        //signedRequest: null,
        //status: true,
        //viewMode: "website",
        //autoRun: true
        //    });
        //    $('#loginbutton,#feedbutton').removeAttr('disabled');
        //    FB.getLoginStatus(updateStatusCallback);
        //});
    </script>

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '870614503083022',
                xfbml: true,
                version: 'v2.6'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        $(document).ready(function () {

            $('#shareBtn').click(function () {
                FB.ui({
                    method: 'share',
                    display: 'popup',
                    href: 'http://leevent.azurewebsites.net/',
                }, function (response) { });
            });
        });
    </script>
}