@model EVM.Models.Artist
@{
    ViewBag.Title = "Artist Selection";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-7">
        <div class="card">
            <div class="header">
                <h4 class="title">Artist Section</h4>
                <p class="category">Select</p>
            </div>
            <div class="content">
                <div class="form-horizontal">
                    <div class="form-group">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>